@import '../../styles/colors.scss';

.tip {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &[data-color='pinkM'] {
    background: $pinkM;
  }

  &[data-color='blueM'] {
    background: $blueM;
  }

  &[data-color='error'] {
    background: $error;
  }

  &[data-color='warning'] {
    background: $warning;
  }

  &[data-color='success'] {
    background: $success;
  }
}
